body {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    background-color: white;
}    
/* Step 3 - Add a nice hover effect */
.card:hover {

}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {

}

/* Step 5 - Add a nice style to the message element */
#message {

}

.visible {
    max-height: 210px;
    animation: expand 0.7s;
    overflow: hidden;
}

.nonVisible {
    max-height: 0px;
    overflow: hidden;
    animation: collapse 0.7s;
}

/* Animation code for the new Item Form collapse */
@keyframes collapse {
    from {max-height: 210px;}
    to {max-height: 0px;
        overflow: hidden;}
}

@keyframes expand {
    from{max-height: 0px;}
    to{max-height: 210px;}
}

  


/* Step 6 - Add 5 more style changes... */
/* 1) */
/* 2) */
/* 3) */
/* 4) */
/* 5) */