@font-face {
    font-family: 'Brain Wants';
    src: url('./fonts/Brain\ Wants\ UD.otf');
}

body {
    height: 100%;
    width: 100%;
    background-image: url('./images/blueplanet.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#splashscreen{
    background: black;
}

#logoHeader {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    color:white;
    background-image: url('./images/astronaut.png');
    background-size: cover;
    background-position-y: 25%;
    background-position-x: 90%;
    font-family: 'Brain Wants';
    margin-bottom: 2%;
}

#editHeader {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    color:white;
    font-family: 'Brain Wants';
    margin-bottom: 2%;
    background-color: rgb(253, 192, 47);
}

#deleteHeader {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    color:white;
    font-family: 'Brain Wants';
    margin-bottom: 2%;
    background-color: rgb(217, 55, 73);
}

#additionHeader {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    color:white;
    font-family: 'Brain Wants';
    margin-bottom: 2%;
    background-color: rgb(48, 165, 74); 
}

.invisibleHeader {
    display: none !important;
}

.title {
    font-family: 'Brain Wants';
    font-size: 2.4rem;
}

.delete-prompt {
    font-family: 'Brain Wants';
    font-size: 2.4rem;
    color: white;
    padding-bottom: 0px;

}

.container {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    max-width: 720px;
    border: 10px outset rgb(81, 186, 196);
    border-radius: 5px;
}   

.visible {
    max-height: 210px;
    animation: expand 0.7s;
    overflow: hidden;
}

.nonVisible {
    max-height: 0px;
    overflow: hidden;
    animation: collapse 0.7s;
    margin:0px;
}

.buttonInvisible {
    display: none;
}

.buttonVisible {
    display: inline;
}

.table-success > .item-entry, .table-success > .item-due-date {
    text-decoration: line-through;
}

button {
    margin-bottom: 5px;
}

#deletePopup {
    position: relative;
    bottom:200px;
}

.delete-row-warning {
    background-color: rgb(217, 55, 73);
}

.delete-yes, .delete-no {
    margin-top: 5px;
}

.footer {
    margin: 0 auto;
    font-size: 120px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

#gitHub{
    filter: brightness(0) saturate(100%) invert(20%) sepia(41%) saturate(1081%) hue-rotate(253deg) brightness(94%) contrast(84%);
    padding-bottom: 130px;
}

/* Animation code for the new Item Form collapse */
@keyframes collapse {
    from {max-height: 210px;}
    to {max-height: 0px;
        overflow: hidden;}
}

@keyframes expand {
    from{max-height: 0px;}
    to{max-height: 210px;}
}

